@{
  ViewData["Title"] = "Home Page";
}

<div class="container text-center">
  <h1 class="display-4">Student</h1>
   @Html.ActionLink("New", "New", "Home", null, new { @class = "btn btn-success" })
  <button type="button" class="btn btn-primary" data-toggle="modal" onclick="loadStudentsList('StudentTableModal')" data-target=".bd-example-modal-lg">Modal</button>

	<div class="search">
		<br>
		<input type="text" class="form-control" placeholder="Search..." id="searchStudents" onkeyup="loadStudentsList()">
		<br>
	<div>
	<div class="tab-slider--nav">
		<ul class="tab-slider--tabs">
			<li class="tab-slider--trigger active" rel="tab1" id="tabTable">Table</li>
			<li class="tab-slider--trigger" rel="tab2" id="tabCard">Card</li>
		</ul>
	</div>
	<div class="tab-slider--container" id="StudentsTable"></div>
	<div class="row">
		<div class="col-lg-1 pull-rigth">
			<select class="form-control" id="StudentsTable-limit" onchange="loadStudentsList()">
				<option value="5">5</option>
				<option value="10">10</option>
				<option value="20">20</option>
				<option value="50">50</option>
				<option value="100">100</option>
			</select>
		</div>
	</div>

  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div id="StudentTableModal">
        </div>
        <div class="row">
          <div class="col-lg-1 pull-rigth">
            <select class="form-control" id="StudentTableModal-limit" onchange="loadStudentsList('StudentTableModal')">
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="50">50</option>
              <option value="100">100</option>
            </select>
          </div>
        </div>
      </div>

      <div class="modal-footer pull-rigth">
         <button type="button" class="btn btn-primary" onclick="loadStudentsList('StudentsTable')" data-dismiss="modal" aria-label="Close">Confrim</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $( document ).ready(function() {
    loadStudentsList('StudentsTable');
    loadStudentsList('StudentTableModal');
  });

	$('.tab-slider--nav li').click(function () {
    changeTab(this)
		page = parseInt($('.page-item.active').prop('id'))
		loadStudentsList('StudentsTable' , page)
    loadStudentsList('StudentTableModal', page)
  });
</script>

